@import (css) "../semantic/dist/semantic.css";
// @import "../_semantic/src/theme.less";
@import "_partial/index.less";
@import "_partial/nav.less";
@import "_partial/toc.less";
@import "_partial/post.less";


@menuWidth: 15rem;
.ui.vertical.menu {
    width: @menuWidth;
}

.main {
    position: relative;
    padding-left: @menuWidth;
}

#artical-list {
    padding-top: 5rem;
}