<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>

    <%- partial('_partial/nav') %>
    <main class="main">
      <%- body %>
    </main>
    <%- partial('_partial/footer') %>
  </body>
</html>