<div class="ui vertical left fixed inverted menu">
    <div class="item">
        <%- image_tag('imgs/logo.png', {class: 'ui tiny circular image'}) %>
        <h3 class="ui header">
            <div class="content">
                <%- config.title %>
                <div class="sub header subtitle"><%- config.subtitle %></div>
            </div>
        </h3>

        <a class="ui circular github mini icon button">
            <i class="github icon"></i>
        </a>
        <a class="ui circular google plus mini icon button">
            <i class="google plus icon"></i>
        </a>
        <a class="ui circular facebook mini icon button">
            <i class="facebook icon"></i>
        </a>
        <a class="ui circular green mini icon button">
            <i class="wechat icon"></i>
        </a>
        <a class="ui circular red mini icon button">
            <i class="weibo icon"></i>
        </a>
        <a class="ui circular brown mini icon button">
            <i class="stack overflow icon"></i>
        </a>
        <a class="ui circular grey mini icon button">
            <i class="mail outline icon"></i>
        </a>
        
    </div>

    <div class="item">
        <div class="header">博客</div>
        <div class="menu">
            <a class="item" href="../introduction/integrations.php">
                集成
            </a>
        </div>
    </div>    
</div>